<h2>All users</h2>

<% if current_user %>
  <p>
    <%= current_user.email %> ... is great
  </p>
  <%= link_to "Log-Out", log_out_path, method: :delete %>
<% else%>
  <%= link_to "Log-In", log_in_path %>
  <%= link_to "Sign-Up", new_user_path %>
<% end %>


<%= link_to "Create user", new_user_path %>

<table>

    <% @users.each do |user| %>
     
        <tr>
            <td>Name:</td>             
            <td><%= user.name %></td>            
        </tr>
        <tr>
            <td>Address:</td>
            <td><%= user.address %></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><%= user.gender %></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><%= user.age %></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><%= user.phone %></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><%= user.email %></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><%= user.description %></td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td><%= user.rating %></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><%= user.image %></td>
        </tr>
        <tr>  
            <td><a href="/users/<%= user.id %>"><button>SHOW</button></a></td>
            <td><a href="/users/<%= user.id %>/edit"><button>EDIT</button></a></td>
        </tr>
        
    <% end %>

</table>

