
<h3><%= @results.count %> Results</h3>

<% if @search_type == "request" %>
    <p class="create"><%= link_to "Create request", new_request_path %></p>
    <% else %>
    <p class="create"><%= link_to "Create offer", new_offer_path %></p>
<% end %>

<ol>
<% @results.each do |result| %>
    <li>                   
        <h3><%= result.title %></h3>        
        <p><%= result.description %></p>
        <p>from: <%= result.date_start %> until: <%= result.date_end %></p>
        <p>Address: <%= result.location.address %></p>
        <p><%= result.location.address %></p>
        <%= static_map_for(result.location) %>
    </li>
<% end %>
</ol>