
<h3><%= @requests.count %> results for your search</h3>
<h4>Category: <%= @search_cat %></h4>
<h4>Radius: <%= @radius %> mile(s)</h4>
<h4>Your address: <%= @start_location %></h4>


<% @requests.each do |request| %>
    <ol>                   
        <%= request.title %>
        <%= static_map_for(request.location) %>
    </ol>
<% end %>