
<h2><%= @requests.count %> results for your search</h2>

<div class="searchform">
    <h4>Category: <%= @search_cat %></h4>
    <h4>Radius: <%= @radius %> mile(s)</h4>
    <h4>Your address: <%= @start_location %></h4>
</div>

<% @requests.each do |request| %>

    <table>
        <section>  
            <tr>
                <td colspan="2"><h3><%= request.title %></h3></td>                          
            </tr>
            <tr>
                <td>From:</td>             
                <td><%= request.user.name %></td>            
            </tr> 
            <tr>
                <td>Email:</td>             
                <td><%= request.user.email %></td>            
            </tr>             
            <tr>
                <td>Description:</td>
                <td><%= request.description %></td>
            </tr>
            <tr>
                <td>Date start:</td>             
                <td><%= request.date_start %></td>            
            </tr>
            <tr>
                <td>Date end:</td>             
                <td><%= request.date_end %></td>            
            </tr>            
            <tr>
                <td>Location:</td>             
                <td><%= request.location.name %></td>            
            </tr>           
            <tr>  
                <td><a href="/requests/<%= request.id %>"><button>SHOW</button></a></td>
            </tr>

        </section>
    </table>
<% end %>
   
