<h2>All offers</h2>

<%= render 'search' %>


<% @offers.each do |offer| %>

  <table>
    <section>

      <tr>
        <td>From:</td>
        <td><%= offer.user.name %></td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><%= offer.title %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%= offer.description %></td>
      </tr>
      <tr>
        <td>Date start:</td>
        <td><%= offer.date_start %></td>
      </tr>
      <tr>
        <td>Date end:</td>
        <td><%= offer.date_end %></td>
      </tr>
      <tr>
        <td>Category:</td>
        <td><%= offer.category.title %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= offer.location.name %></td>
      </tr>
      <tr>
        <td><a href="/offers/<%= offer.id %>"><button>SHOW</button></a></td>
      </tr>

    </section>
  </table>

<% end %>
