
<h2><%= @offers.count %> results for your search</h2>

<div class="searchform">
    <h4>Category: <%= @search_cat %></h4>
    <h4>Radius: <%= @radius %> mile(s)</h4>
    <h4>Your address: <%= @start_location %></h4>
</div>

<div class="container">
    <ol>
    <% @offers.each do |offer| %>
        <li>                   
            <h3><%= offer.title %></h3>
            <p><%= offer.user.name %></p>
            <p><%= offer.user.email %></p>
            <p><%= offer.description %></p>
            <p>from: <%= offer.date_start %> until: <%= offer.date_end %></p>
            <p>Address: <%= offer.location.address %></p>
            <p><%= offer.location.address %></p>
            <%= static_map_for(offer.location) %>
        </li>
        <hr />
    <% end %>
    </ol>
</div>