<%= form_tag do %>
    Form contents
<% end %>

<hr />

<p style=color:red;>
    Always use "GET" as the method for search forms. This allows users to bookmark a specific search and get back to it. More generally Rails encourages you to use the right HTTP verb for an action.
</p>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<hr />

<%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>

<hr />
text_area_tag<br />
<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<hr />
password_field_tag<br />
<%= password_field_tag(:password) %>
<hr />
hidden_field_tag<br />
<%= hidden_field_tag(:parent_id, "5") %>
<hr />
search_field<br />
<%= search_field(:user, :name) %>
<hr />
telephone_field<br />
<%= telephone_field(:user, :phone) %>
<hr />
date_field<br />
<%= date_field(:user, :born_on) %>
<hr />
datetime_local<br />
<%= datetime_field(:user, :meeting_time) %>
<hr />
datetime_local_field<br />
<%= datetime_local_field(:user, :graduation_day) %>
<hr />
month_field<br />
<%= month_field(:user, :birthday_month) %>
<hr />
week_field<br />
<%= week_field(:user, :birthday_week) %>
<hr />
url_field<br />
<%= url_field(:user, :homepage) %>
<hr />
email_field<br />
<%= email_field(:user, :address) %>
<hr />
color_field<br />
<%= color_field(:user, :favorite_color) %>
<hr />
time_field<br />
<%= time_field(:task, :started_at) %>
<hr />
number_field<br />
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
<hr />
range_field<br />
<%= range_field(:product, :discount, in: 1..100) %>
<hr />



<hr />




<hr />




<hr />




<hr />
