<h2>All locations</h2>

<%= link_to "Create location", new_location_path %>

<form action="/locations" method="get">
    <input type="text" name="start_location" placeholder="... address">    
    <input type="text" name="radius" placeholder="... radius in miles">
    <button>submit</button> 
</form>



<h3>All locations around "<%= @start_location %>" within a <%= @radius %> mile(s) Radius</h3>


<% @locations_within_radius.each do |location_within_radius| %>
    <li>                   
        <%= location_within_radius.name %>
        <%= static_map_for(location_within_radius) %>
    </li>
<% end %>

<hr/>

<table>

    <% @locations.each do |location| %>
        <tr>
            <td>Name:</td>             
            <td><%= location.name %></td>            
        </tr>
        <tr>
            <td>Address:</td>
            <td><%= location.address %></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><%= location.cat %></td>
        </tr>
        <tr>
            <td>Public?</td>
            <td><%= location.public %></td>
        </tr>
        <tr>     
            <td colspan="2"><%= static_map_for(location) %></td>
        </tr>
        <tr>  
            <td><a href="/locations/<%= location.id %>"><button>SHOW</button></a></td>
            <td><a href="/locations/<%= location.id %>/edit"><button>EDIT</button></a></td>
        </tr>                
    <% end %>

</table>
