<h2>Location Data</h2>

<table>
  <section>

    <tr>
      <td>Name:</td>
      <td><%= @location.name %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><%= @location.address %></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= @location.cat %></td>
    </tr>
    <tr>
      <td>Public?</td>
      <td><%= @location.public %></td>
    </tr>
    <tr>
      <td colspan="2"><%= static_map_for(@location) %></td>
    </tr>

  </section>
</table>

<section>
  <% if current_user && (current_user.email == "admin@helpr.com") %>

    <a href="/locations/<%= @location.id %>/edit"><button>EDIT</button></a>

    <form action="/locations/<%= @location.id%>" method="post">
      <%= token_tag %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="DELETE">
    </form>

  <% end %>
</section>
