<!DOCTYPE html>
<html>
<head>
  <title>MyHelprApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="wrapper">

    <header>

      <div class="logo">       
        <a href="/"><img src="<%=asset_url('logo.png')%>" alt="Logo"></a>
      </div>

      <h1>Helpr!</h1>

      <div class="login">
          <% if current_user %>
            <p>
              <%= current_user.email %>
            </p>
              <%= link_to "Log-Out", log_out_path, method: :delete %>
              <%= link_to "User-Profile",  "/users/#{current_user.id}" %>
              <%= link_to "Offers", "/users/search?t=offer" %>
              <%= link_to "Requests", "/users/search?t=request" %>
          <% else%>
              <%= link_to "Log-In", log_in_path %>
              <%= link_to "Sign-Up", new_user_path %>
          <% end %>
      </div>

    </header>
    
    <nav class="main">     
      <a href="/requests">Requests</a>
      <a href="/offers">Offers</a>      
      <a href="/locations">Locations</a>
      <% if current_user && (current_user.email == "admin@helpr.com") %>
        <a href="/categories">Categories</a>
        <a href="/users">Users</a>
      <% end %>
    </nav>

    <div class="content">

      <div>
        <h3>
          <%= flash.now[:alert] %>
        </h3>
        <h3>
          <%= flash.now[:notice] %>
        </h3>
      </div>
    
      <%= yield %>

    </div>

    <footer>
      <!-- <div class="logo">       
        <a href="/"><img src="/assets/sw308.jpg" alt="Logo"></a>
      </div> -->
      <p class="copyright">&copy; Andrea Trapp, 2014</p> 
    </footer>

  </div>

</body>
</html>
