<!DOCTYPE html>
<html>
<head>
  <title>MyHelprApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    
    <div class="header">   
    <h1>Helpr!</h1>
   
      
    <a class="logo" href="/"><%= image_tag "logo.gif" %></a>
    </div>
     <nav class="main">        
        <a href="/users">Users</a>
        <a href="/requests">Requests</a>
        <a href="/offers">Offers</a>
        <a href="/categories">Categories</a>
        <a href="/locations">Locations</a>
      </nav>

    <div class="content">

      <div class="login">
          <% if current_user %>
            <p>
              <%= current_user.email %>
            </p>
              <%= link_to "Log-Out", log_out_path, method: :delete %>
              <%= link_to "User-Profile",  "/users/#{current_user.id}" %>
          <% else%>
              <%= link_to "Log-In", log_in_path %>
              <%= link_to "Sign-Up", new_user_path %>
          <% end %>
      </div>

      <div>
        <h3>
          <%= flash.now[:alert] %>
        </h3>
        <h3>
          <%= flash.now[:notice] %>
        </h3>
      </div>

      <%= yield %>

      </div>


    <footer>

    </footer>

  </div>

</body>
</html>
